.logged-in img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav-right {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  top: 10%;
  right: 5%;
}

.main-container {
  width: 85%;
  flex: 1;
  
  display: flex;
}

.left-menu {
  height: 100%;
  width: 25%;
  background-color: #fff;
  padding-top: 50px;
}

.left-menu-items {
  list-style-type: none;
  margin-left: 0;
  margin-top: 30px;
  padding-left: 0;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-menu-items li {
    padding: 20px 0;
}

.left-menu-items li:hover {
    background-color: #facd21;
    cursor: pointer;
}

.left-menu-items li a {
  text-decoration: none;
  color: #000;
  padding-left: 20px;
}

.main-content-area {
  height: 100%;
  flex: 1;
  
}

.main-content-area-inner {
  height: 90%;
  width: 90%;
  margin: auto;
  color: #000;
}

.header-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header-row a {
    color: var(--primary-button-background);
    display: flex;
    align-items: center;
}

.header-row a:hover {
  color: var(--gold);
}

.header-row i {
  margin-left: 10px;
}

.search-results {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.composer-name {
    
    
}

.search-result {
  position: relative;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 20px;
}
/*
.search-result:hover {
    border-bottom: 4px solid #facd21;

}
*/

.hover-gold {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .5rem;
  
}

.hover-gold.show {
  animation: opacity .5s ease-in-out;
  background-color: var(--gold);
}

.composer-img {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  right: 20%;
  top: 50%;
}

.audio-player-container {
  position: fixed;
  width: 100%;
  height: 10%;

  bottom: 0;
}



.your-recent-concerts.hide {
    display: none;
}

@keyframes opacity{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}