@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --header-background: #4257b2;
    --hero-background: #3b4c9b;
    --primary-button-background: #3ccfcf;
    --main-background: #f6f7fb;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background);
}

a {
    text-decoration: none;
}

button {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border-radius: 0.25rem;
}

.landing-nav {
    width: 100%;
    height: 5rem;
    background-color: var(--header-background);
    display: flex;
    align-items: center;
}

.landing-nav p {
    font-size: 1.2rem;
}

.site-title {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-left li {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

.nav-left li:hover, .nav-right li:hover {
    color: rgba(189, 195, 199, 0.8);
}

.nav-left li > * {
    margin: 2px;
}

.nav-right {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-right li {
    margin: 10px;
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-button-background);
    color: white;
    padding: 10px 20px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.primary-btn.sign-up-btn {
    
}

.hero-container {
    width: 100%;
    flex: 1;
    background-color: var(--hero-background);
    display: flex;
    align-items: center;
}

.content-container-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.primary-btn.get-started-btn {
    margin-bottom: 20px;
}

.teacher-parent-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher-parent-links a {
    font-size: 1.2rem;
    color: var(--primary-button-background);
    text-decoration: none;
}

.image-carousel-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.image-carousel {
    height: 75%;
    background-color: #fff;
}

.image-carousel img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.image-description {
    flex: 1;
    width: 100%;
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal-container {
    /* CSS change in JS */
    display: none;
    align-items:center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

.sign-up-container {
    height: 90%;
    width: 40%;
    background-color: #fff;
    color: grey;
    position: relative;
    /* Change flex/none */
    display: none;
    flex-direction: column;
    align-items: center;
    
}

.third-party-buttons {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-btn {
    background-color: #fff;
    border: 2px solid grey;
    border-radius: 5px;
}

.sign-up-form {

    margin: auto;
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#close-modal {
    align-self: flex-end;
    margin-right: 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-field label {
    text-transform: uppercase;
}

.register-btn, .login-btn {
    width: 100%;
}

.register-btn {
    background-color: grey;
}

.login-btn {
    background-color: #fff;
    color: #000;
    border: 2px solid grey;
}

.login-btn a {
    color: var(--primary-button-background);
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.sign-in-header {
    width: 100%;
    height: 10%;
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-in-header h1 {
    margin-left: 20px;
}

.sign-in-header i {
    margin-right: 20px;
    border: 3px solid grey;
    border-radius: 50%;
    padding: 7px;
}

.sign-in-form-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.sign-in-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-buttons .secondary-btn {
    width: 100%;
    margin: 30px 0;
}

.sign-in-form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex: 1;
}

.sign-in-form-fields .form-field input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #000;
}

.sign-in-form-fields .form-field:last-of-type {
    position: relative;
}

.sign-in-form-fields .form-field:last-of-type p {
    position: absolute;
    right: 0;
    top: 5px;
}

.primary-btn.big-login-btn {
    
    width: 100%;
}
