/* FIX IMAGE */
/* FIX SCROLL ON PIECE LIST */

body {
  overflow: hidden;
}

.composer-top {
  width: 100%;
  flex: 1;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.composer-top, .composer-bottom {
    color: #000;
}

.composer-wrap {
  height: 200px;
  width: 200px;
  margin: 0 80px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.composer-bottom {
  width: 100%;
  flex: 2;
  height: 100%;
  min-height: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



.composer-piece-list {
  /*
  height: 90%;
  
  overflow:hidden;
  */
  max-height: 90%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: 100%;
  
  
}

.composer-bottom-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 100%;
  min-height: 0px;
}

.piece-details {
 
  flex: 1;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.comment-list {
  background: #fff;
  box-shadow: var(--default-shadow);
  list-style: none;
  padding: 0;
  width: 100%;
  flex: 3 1 auto;
  border-radius: 4px;
  overflow-y: scroll; 
  height: 80px;
}

.comment-list .comment {
  margin: 1rem 0;
}

.comment p {
  margin: 0;
}

.comment p:first-child {
  font-weight: bold;
}

.comment p:last-child {
  font-size: .6rem;
}

.primary-btn.disabled {
  background-color: rgba(60, 207, 207, 0.5);
  cursor: not-allowed;
}

.primary-btn.error {
  background-color: var(--error-color);
}

.hidden-user {
  visibility: hidden;
  font-size: .2rem;
}

/*
.piece-list-wrap {
    height: 75%;
    width: 80%;
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
*/
.user-interaction-area {
  
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.piece-list {
    list-style-type: none;
    width: 90%;
    height: 100%;
    max-height: 100%;
    flex: 3 1 auto;
    padding: 0;
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piece-title {
  color: #000;
  background-color: #fff;
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  box-shadow: 3px 4px 11px -6px rgba(42,42,42,1);
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  padding: 1rem .5rem;
  font-size: .9rem;
}

.piece-title.selected {
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0px 0 0 black;
}

#user-comment {
    font-family: 'Lato', sans-serif;
    flex: 1;
    margin: 20px 20px 0 20px;
    resize: none;
    outline: none;
    border-radius: 5px;
    
}

.user-buttons {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-evenly;
}

#submit-comment {
  border-radius: 0.25rem;
}


@media(max-width: 768px) {

  body {
    overflow: auto;
  }

  .piece-details {
    flex: none;
  }

  .composer-bottom-right {
    width: 100%;
    max-height: auto;
    min-height: auto;
  }



  .user-buttons {
    flex: none;
  }

  .composer-top {
    flex-direction: column;
    box-shadow: var(--default-shadow);
  }

 .user-interaction-area textarea {
   height: 50%;
 }

  .composer-hero {
    margin-top: 1rem;
  }
  
  .composer-bottom {
    flex-direction: column;
    margin-top: 1rem;
    min-height: unset;
    height: 100vh;
  }

  .composer-piece-list {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  body {
    overflow: auto;
    height: auto;
  }

  .user-buttons {
    flex-direction: column;
  }

  #user-comment {
    height: 5rem;
  }

  .composer-informations > * {
    text-align: center;
  }

  .user-buttons button {
    width: 90%;
    margin: 1rem 0;
  }

  .piece-title {
    font-size: .8rem;
  }

  #piece-title-result {
    font-size: 1.3rem;
    text-align: center;
  }

  #piece-duration {
    text-align: center;
  }

  #piece-instrumentation {
    font-size: .75rem;
    text-align: center;
  }

  .composer-top {
    flex-direction: column;
    box-shadow: var(--default-shadow);
  }

  .composer-hero {
    margin-top: 1rem;
  }
  
  .composer-bottom {
    flex-direction: column;
    margin-top: 1rem;
    min-height: unset;
  }

  

  .composer-piece-list {
    width: 100%;
    margin-bottom: 1rem;
  }
}