
.main-container {
    flex: 1;
    width: 100%;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container {
    background-color: var(--hero-background);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right-container {
    height: 100%;
    flex: 1;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.left-container h1, .right-container h1 {
    color: #fff;
}

.left-search-area {
    width: 80%;
    display: flex;
    align-items: center;
}

.right-search-area {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
    position: relative;
}

.left-search-area input {
    flex: 1;
    line-height: 2rem;
    
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline: none;
}

.left-search-area i {
    color: #000;
    background: #fff;
    padding: .58rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}




.concert-title-input {
    width: 25%;
    line-height: 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    opacity: 1;
}

.concert-title-btn {
    width: 25%;
    opacity: 1;
}

.right-search-area i {
    color: #000;
    padding: 9px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right-search-area .concert-title {
    transition: opacity .3s ease;
    opacity: 0;
}

.right-search-area.show .concert-title {
    opacity: 1;
}

.right-search-area.show .concert-title-input{
    transition: opacity .3s ease;
    opacity: 0;
}

.right-search-area.show .concert-title-btn {
    transition: opacity .3s ease;
    opacity: 0;
}

.change-title-btn {
    position: absolute;
    width: 25%;
    right: 0;
    visibility: hidden;
}

.right-search-area.show .change-title-btn {
    transition: visibility .3s ease;
    visibility: visible
    
}



.builder-piece-list {
    list-style-type: none;
    color: #fff;
    padding: 0;
    width: 80%;
    overflow-y: scroll;
    height: 0px;
    flex: 3 1 auto;
}


.builder-piece-list li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px 0;
}

.piece-info-left, .piece-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.piece-info-left p:last-of-type {
    font-size: .75rem;
    text-align: center;
}

.data-composer-info {
    display: none;
}

.piece-info p {
    font-size: .75rem;
}

.piece-info {
    width: 25%;
}

.concert-builder-area {
    background-color: #fff;
    color: #000;
    width: 80%;
    height: 0px;
    box-shadow: var(--default-shadow);
    border-radius: 5px;
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.concert-builder-text-area {
    width: 80%;
    flex: 1;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.concert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: var(--default-shadow);
    position: relative;
}

.concert.over {
    background-color: #eaeaea;
}

.concert .add-intermission {
    position: absolute;
    height: 20px;
    width: 200px;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.concert.show .add-intermission {
    display: block;
    background-color: grey;
    position: absolute;
    transition: all .5s ease;
    bottom: -20px;
    opacity: 1;
    cursor: pointer;
}

.add-intermission p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .85rem;
    color: #fff;
}

.concert.intermission {
    background: lightgrey;
   
    height: 30px;
}

.concert i {
    cursor: pointer;
    margin: 0 1rem;
}

.composer-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../img/JohannesBrahms.jpg');
    background-repeat: no-repeat;
    background-position: center center;

    position: static;
}

.composer-info > p:first-child {
    font-weight: bold;
}

.primary-btn.save-concert {
    transition: background-color .5s ease;
}

.primary-btn.save-concert.disabled {
    
    background-color:  #c4302b;
    pointer-events: none;
}

/* TODO:

FIX CONCERT BUILDER AREA ON MOBILE AND TABLET. ITS FUCKED

*/

@media(max-width: 768px) {

    .main-container {
        flex-direction: column;
        justify-content: normal;
        align-items: stretch;
    }

    .left-container {
        width: 100%;
    }

    .concert .composer-img {
        display: none;
    }
}