
.main-container {
    flex: 1;
    width: 100%;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container {
    background-color: var(--hero-background);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right-container {
    height: 100%;
    flex: 1;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.left-container h1, .right-container h1 {
    color: #fff;
}

.left-search-area {
    width: 80%;
    display: flex;
    align-items: center;
}

.right-search-area-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
    position: relative;
}

.right-search-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-search-area input {
    flex: 1;
    line-height: 2rem;
    
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline: none;
    padding-left: 1rem;
}

.left-search-area i {
    color: #000;
    background: #fff;
    padding: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}




.concert-title-input {
    width: 100%;
    line-height: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
    opacity: 1;
    padding-left: 1rem;
    height: 3rem;
}

.concert-title-btn {
    background-color: #fff;
    color: #00786f;
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    width: 25%;
    opacity: 1;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-search-area i {
    color: #000;
    padding: 9px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right-search-area .concert-title {
    transition: opacity .3s ease;
    opacity: 0;
}

.right-search-area.show .concert-title {
    opacity: 1;
}

.right-search-area.show .concert-title-input{
    transition: opacity .3s ease;
    opacity: 0;
}

.right-search-area.show .concert-title-btn {
    transition: opacity .3s ease;
    opacity: 0;
}

.change-title-btn {
    position: absolute;
    width: 25%;
    right: 0;
    visibility: hidden;
}

.right-search-area.show .change-title-btn {
    transition: visibility .3s ease;
    visibility: visible
    
}



.builder-piece-list {
    list-style-type: none;
    color: #fff;
    padding: 0;
    width: 80%;
    overflow-y: scroll;
    height: 0px;
    flex: 3 1 auto;
}


.builder-piece-list li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 7rem;
    background-color: #303f82;
    /* border: 2px solid #243273; */
    border-radius: 5px;
    margin: 1rem 0;
}


.piece-info-left, .piece-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.piece-info-left {
    align-items: flex-start;
    margin-left: 2rem;
    max-height: 100%;
}

.piece-info-right {
    margin-right: 2rem;
    align-items: flex-end;
}

.piece-info-left p {
    margin: 0;
    font-size: .75rem;
}

.piece-info-left p:nth-of-type(1) {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .05rem;
}

.piece-info-left p:nth-of-type(2) {
    font-size: .8rem;
    margin-bottom: 1rem;
}

.piece-info-left p:last-of-type {
    font-size: .8rem;
    text-align: center;
}

.data-composer-info {
    display: none;
}

.piece-info p {
    font-size: .75rem;
}

.piece-info {
    /*width: 25%;
    */
}

.concert-title.concert-title-mobile {
    display: none;
}

.concert-builder-area {
    background-color: #fff;
    color: #000;
    width: 80%;
    height: 0px;
    box-shadow: var(--default-shadow);
    /* border-radius: 5px; */
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.concert-builder-text-area {
    padding: 0.5rem 2rem;
    width: 80%;
    /* flex: 1; */
    background-color: lightblue;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.column-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    
}

.inner-split-left, .inner-split-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 1rem;
}

.inner-split-right {
    align-items: flex-start;
}

.inner-split-right > * {
    margin: 0;
}

/* .concert-length-check {
    font-size: 1.5rem;
    display: none;
}

.concert-length-danger {
    font-size: 1.5rem;
} */

.concert-length-indicator {
    display: block;
}


.concert-builder-text-area p {
    /* margin: .5rem auto; */
}

.composer-info {
    margin-right: 1rem;
}

.concert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border: 2px solid #b2b2b2;
    border-radius: 3px;
    margin: 10px 0;
    box-shadow: var(--default-shadow);
    position: relative;
}

.info-inner-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: 1rem 0;
}

.concert.over {
    background-color: #eaeaea;
}

.concert .add-intermission {
    position: absolute;
    height: 20px;
    width: 200px;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.concert.show .add-intermission {
    display: block;
    background-color: grey;
    position: absolute;
    transition: all .5s ease;
    bottom: -20px;
    opacity: 1;
    cursor: pointer;
}

.add-intermission p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .85rem;
    color: #fff;
}

.concert.intermission {
    background: #dddddd;
}

.concert.intermission p {
    font-size: 1rem;
    font-weight: bold;
}

.piece-drag-bars {
    font-size: 2rem;
    color: var(--primary-button-background);
    cursor: pointer;
    margin: 0 1rem;
}

.delete-piece {
    color: #b2b2b2;
    cursor: pointer;
    margin-right: 2rem;
}

.composer-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../img/JohannesBrahms.jpg');
    background-repeat: no-repeat;
    background-position: center center;

    position: static;
}

.composer-info > p:first-child {
    font-weight: bold;
    margin-bottom: 0;
}

.composer-info p:nth-of-type(2) {
    margin-top: 0;
}

.primary-btn.save-concert {
    transition: background-color .5s ease;
  
}

.primary-btn.save-concert.disabled {
    
    background-color:  #c4302b;
    pointer-events: none;
}

.mobile-arrow-container {
    display: none;
}

/* .mobile-arrow-container i {
    color: blue;
} */

/* TODO:

FIX CONCERT BUILDER AREA ON MOBILE AND TABLET. ITS FUCKED

*/

@media only screen and (max-width: 768px) {

    .main-container {
        flex-direction: column;
        justify-content: normal;
        align-items: stretch;
        margin-bottom: 0;
    }

    .left-container {
        
        width: 100%;
    }

    .left-container h1 {
        font-size: 1.2rem;
    }

    .right-container {
        flex: none;
        height: 100%;

    }

    .builder-piece-list {
        height: auto;
    }

    .piece-info-left p {
        font-size: .7rem;
    }

    .piece-info-left p:last-of-type {
        font-size: .6rem;
    }

    .concert-builder-text-area {
        margin-bottom: 3rem;
        flex-direction: column;
    }

    .inner-split-right > * {
        font-size: .8rem;
    }

    .concert-builder-area {
        height: 100%;
    }

    .concert .composer-img {
        display: none;
    }

    .piece-drag-bars {
        display: none;
    }

    .mobile-arrow-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 1rem;
        height: 5rem;
    }

    .mobile-arrow-container i {
        color: var(--primary-button-background);
    }
}

@media only screen and (max-width: 426px) {

    body {
        height: auto;
        overflow: auto;
    }


    .piece-info-left p:nth-of-type(1) {
        font-size: .8rem;
    }

    .piece-info-left p:nth-of-type(2) {
        font-size: .7rem;
        margin-bottom: .5rem;
    }
    
    .piece-info-left {
        margin-left: 1rem;
    }

    .builder-piece-list {
        height: auto;
    }

    .left-container {
        height: 100%;
    }

    .right-search-area {
        flex-direction: column;
    }


    .left-search-area i {
        padding: 11px;
    }

    .left-search-area input {
        padding-right: 0px;
        margin-right: -4px;
    }

    .primary-btn.change-title-btn {
        width: 100%;
    }
    .concert-title-input {
        border-radius: 5px;
        width: 100%;
        margin-bottom: 2rem;
    }

    .concert-builder-text-area {
        margin-top: 2rem;
    }

    .concert-title-btn {
        width: 100%;
        border-radius: 5px;
    }

    .info-inner-container {
        width: 50%;
        flex-direction: column;
    }
    .concert-title.concert-title-mobile {
        display: block;
    }

    .composer-info, .piece-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .composer-info p, .piece-info p {
        margin: 0;
    }

    .composer-info p {
        font-size: .75rem;
    }

    .piece-info p {
        font-size: .5rem;
        text-align: center;
    }
}