body {
  overflow: hidden;
}

.logged-in img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 2rem;
}

.nav-right {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  top: 10%;
  right: 5%;
  padding: 1rem;
  border-radius: 5px;
  z-index: 999;
}

.dropdown-menu li {
  margin: 1rem 2rem;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #000;
}

.main-container {
  width: 85%;
  flex: 1;
  
  display: flex;
}

.left-menu {
  height: 100%;
  width: 25%;
  background-color: #fff;
  
  box-shadow: var(--default-shadow);
}

.left-menu-items {
  list-style-type: none;
  margin-left: 0;
  margin-top: 30px;
  padding-left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-menu-items li {
    padding: 20px 0;
}

.left-menu-items li:hover {
    background-color: #facd21;
    cursor: pointer;
}

.left-menu-items li a {
  text-decoration: none;
  color: #000;
  padding-left: 20px;
}

.main-content-area {
  height: 100%;
  flex: 1;
  
}

.main-content-area-inner {
  height: 90%;
  width: 90%;
  margin: auto;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-content-area-inner.remove {
  animation: 1s remove-main;
  animation-fill-mode: forwards;
}

@keyframes remove-main {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    
  }
}

.header-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-self: stretch;
    
}

.header-row a {
    color: var(--primary-button-background);
    display: flex;
    align-items: center;
}

.header-row a:hover {
  color: var(--gold);
}

.header-row i {
  margin-left: 10px;
}

.search-results, .your-recent-concerts {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}



.search-results.user-profile {
  display: none;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 20px;
  box-shadow: var(--default-shadow);
  transition: transform .3s ease;
}

.search-result .composer-name {
  padding: 0;
  margin: 0;
}

.search-result .concert-name {
  
}

.search-result .tiny-piece-title {
  font-size: .75rem;
}


.search-result.leave {
  transform: translateX(500%);
}


.search-results.full-favorites-grid, .search-results.full-concerts-grid {
  display: none;
  opacity: 1;
  animation: opacity .5s ease-in;
  overflow-y: scroll;
}

.full-favorites-grid.animate {
   opacity: 1;
}

.hover-gold {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .5rem;
  
}

.hover-gold.show {
  animation: opacity .5s ease-in-out;
  background-color: var(--gold);
}

.composer-img {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  right: 20%;
  top: 50%;
}

.audio-player-container {
  position: fixed;
  width: 100%;
  height: 10%;
  display: none;
  bottom: 0;
}

.social-image {
  height: 1rem;
  width: 1rem;
}

.primary-btn.visit-page {
  box-shadow: var(--default-shadow);
}


.concert-id-num {
  display: none;
}

#current-username  {
  display: none;
}

.primary-btn.remove-concert-btn {
  cursor: pointer;
  background-color: #c4302b;
  
}

.your-recent-concerts.hide {
    display: none;
}

@keyframes opacity{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@media(max-width: 768px) {

  .home-mobile-icons {
    display: inline-block;
  }

  .left-menu {
    display: none;
  }
}