@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --header-background: #4257b2;
    --hero-background: #3b4c9b;
    --primary-button-background: #3ccfcf;
    --main-background: #f6f7fb;
    --gold: #facd21;
    --default-shadow: 0px 13px 26px #0000002F;
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background);
    overflow: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border-radius: 0.25rem;
}

.landing-nav {
    width: 100%;
    height: 5rem;
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    
}

.landing-nav p {
    font-size: 1.2rem;
}

.site-title {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.right-nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-left {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}

.nav-left li {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-left li a, .site-title a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

.nav-left li a:hover, .nav-right li a:hover, .site-title a:hover {
    color: rgba(189, 195, 199, 0.8);
}

.nav-left li a > * {
    margin: .2rem;
}

.nav-right {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 3rem;
}

.nav-right li {
    margin: 10px;
    cursor: pointer;
}

.home-mobile-icons {
    display: none;
}

.search-bar-overlay {
    display: none;
    align-items: center;
    width: 60%;
    
}

.search-bar-results {
    position: absolute;
    visibility: hidden;
    top: 8%;
    left: 26%;
    right: 20%;
    background-color: var(--header-background);
    width: 60%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1000;

}

.search-result-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.search-result-down:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(0,0,0,0.1);
}

.search-result-down p:first-of-type {
    font-weight: bold;
    margin-left: 1rem;
}

.search-result-down .primary-btn {
    margin-right: 1rem;
}



.search-bar-field {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    line-height: 1.3rem;
    color: #fff;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.search-bar-field:invalid {
    outline: 0;
    box-shadow: none;
    border: none;
}

.fa.fa-times.close-search {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-button-background);
    color: white;
    padding: 10px 20px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.mobile-search-icon {
    display: none;
}



.hero-container {
    width: 100%;
    flex: 1;
    background-color: var(--hero-background);
    display: flex;
    align-items: center;
}

.content-container-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.content-text-container {
    margin: 1rem;
}

.primary-btn.get-started-btn {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.teacher-parent-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher-parent-links a {
    font-size: 1.2rem;
    color: var(--primary-button-background);
    text-decoration: none;
    margin: 1rem;
}

.image-carousel-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.image-carousel {
    height: 75%;
    background-color: #fff;
}

.image-carousel img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.image-description {
    flex: 1;
    width: 100%;
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal-container {
    /* CSS change in JS */
    display: none;
    align-items:center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
}

.sign-up-container {
    height: 90%;
    width: 40%;
    background-color: #fff;
    color: grey;
    position: relative;
    /* Change flex/none */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--default-shadow);
    
}

.sign-up-container > i {
    align-self: flex-end;
    margin-right: 1rem;
}

.third-party-buttons {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-btn {
    background-color: #fff;
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 1rem;
    margin: 1rem;
}

.secondary-btn img {
    height: 1rem;
    width: 1rem;
}

.secondary-btn p {
    margin: 1rem;
}

.sign-up-form {

    margin: auto;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.select-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    
}

.select-container select {
    padding: .75rem 2rem .75rem .3rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: var(--primary-button-background);
    border: 2px grey solid;
    background: #fff;
    border-radius: 5px;
   
}



#close-sign-in, #close-sign-up {
    cursor: pointer;
}

.birthday-selector {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}

.form-field label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2rem;
}

.form-field input {
    
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: 1rem 0;
    border: 2px solid grey;
    border-radius: 5px;
    color: #c2c6d4;
}

.sign-up-form .form-field input:focus {
    border: 2px solid var(--gold);
    transition: border 0.3s ease;
}

.sign-up-form .form-field.success input {
    border: 2px solid var(--success-color);
}

.sign-up-form .form-field.success label {
    color: var(--success-color);
}

.sign-up-form .form-field.error input  {
    border: 2px solid var(--error-color);
}

.sign-up-form .form-field.error label {
    color: var(--error-color);
} 

.sign-up-form .error-text {
    color: var(--error-color);
    /*visibility: hidden;*/
}

.sign-up-form .form-field.error .error-text {
    visibility: visible;
}

.register-btn, .login-btn {
    width: 100%;
    font-size: 1rem;
    margin: 1rem;
}

.register-btn {
    background-color: #c2c6d4;
}

.login-btn {
    background-color: #fff;
    color: #000;
    border: 2px solid grey;
}

.login-btn a {
    color: var(--primary-button-background);
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    box-shadow: var(--default-shadow);
}

.sign-in-header {
    width: 100%;
    height: 15%;
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.sign-in-header h1 {
    margin-left: 20px;
}

.sign-in-header i {
    margin-right: 20px;
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    padding: .50rem;
}

.sign-in-header i:hover {
    background: rgba(0,0,0,0.1);
}

.sign-in-form-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.sign-in-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-buttons .secondary-btn {
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.sign-in-form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex: 1;
}

.sign-in-form-fields .form-field input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #000;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sign-in-form-fields .form-field input:focus {
    border-bottom: 2px solid var(--gold);
}

.sign-in-form-fields .form-field:last-of-type {
    position: relative;
}

.sign-in-form-fields p {
    position: absolute;
    right: 0;
    top: 62%;
}

.sign-in-form-fields .form-field.success input {
    border: 2px solid var(--success-color);
}

.sign-in-form-fields .form-field.success label {
    color: var(--success-color);
}

.sign-in-form-fields .form-field.error input  {
    border: 2px solid var(--error-color);
}

.sign-in-form-fields .form-field.error label {
    color: var(--error-color);
} 

.sign-in-form-fields .error-text {
    color: var(--error-color);
    /*visibility: hidden;*/
}

.primary-btn.big-login-btn {

    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#browse-modal {
    /* CHANGE WITH JAVASCIPT */
    display: none;
    align-items: center;
    justify-content: flex-start;
}

.browse-modal-area {
    height: 100%;
    width: 35%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
   
    /*transition: transform 1s ease;*/
    transform: translateX(-100%);
}


.browse-modal-area.show {
    transition: transform 0.3s ease;
    transform: translateX(0);
}






.browse-header i {
    margin-right: 20px;
    border: 3px solid grey;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

.browse-header {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.browse-composers {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    overflow-y: scroll;
}

.letter {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    color: #000;
    border-bottom: 1px solid grey;
}

.letter h1  {
    flex: 1;
    cursor: pointer;
}

.letter-composers {
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.random-composer-links a {
    text-decoration: none;
    color: blue;
}



@media(max-width: 768px) {

    body {
        overflow: auto;
    }

    .hero-container {
        flex-direction: column;
    }

    .landing-nav {
        justify-content: center;
    }
    .nav-left {
        display: none;
    }

    .right-nav-container {
        justify-content: flex-end;
    }

    .site-title {
        margin-left: 1rem;
        width: 35%;
    }

    .mobile-search-icon {
        display: block;
    }

    .sign-up-container {
        height: 90%;
        width: 75%;
    }

    .search-bar-results {
        left: 20%;
    }
    
}

@media(max-width: 620px) {
   
}

@media(max-width: 426px) {
    
    body {
        /*
        overflow: hidden;
        */
    }

    .site-title {
        margin-left: 0rem;
        flex: 1;
        font-size: 1rem;
        justify-content: flex-start;
    }

    .right-nav-container {
        width: 60%;
    }

    .nav-right {
        margin: 0;
        padding: 0;
    }
    .search-bar-results {
        top: 9%;
        width: 100%;
        left: 0;    
    
    }


    .sign-up-container {
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .third-party-buttons {
        flex-direction: column;
        align-items: stretch;
    }

    .third-party-buttons .secondary-btn {
        margin: .5rem 0;
    }
    
    .select-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .select-container select {
        width: 90%;
    }

    .sign-up-form label {
        font-size: .7rem;
    }

    .form-field input {
        margin-top: .3rem;
    }

    .form-field {
        margin: 1rem 0;
    }

    .primary-btn.register-btn, .primary-btn.login-btn {
        margin: 1rem 0;
    }

    .search-bar-overlay {
        justify-content: center;
        margin: auto;
        height: 5rem;
    }

    .search-result-down p {
        font-size: .75rem;
    }

    .browse-modal-area {
        width: auto;
        right: 0;
    }

}