#composer-pieces-div {
    display: flex;
    /*flex-direction: column;*/
}

#composer-pieces {
    width: 50%;
}

#piece-results {
    width: 50%;
}

#composer-img-div {
    height: 400px;
    width: 320px;
}

#composer-img {
    max-width: 100%;
    max-height: 100%;
}

.no-show{
    display: none;
}

.draggable-list {
    list-style-type: none; 
}

.favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
}