<div class="sign-up-container sign-in-container">
    <div class="sign-in-header">
        <h1>Log in</h1>
        <i class="fa fa-times fa-2x" id="close-sign-in"></i>
    </div>
    <div class="sign-in-form-area">
        <div class="sign-in-buttons">
            <button class="secondary-btn">
                <img src="{{ url_for('static', filename='img/brands-and-logotypes.svg') }}" alt="" class="google-sign-up">
                <p>Sign in with Google</p>
            </button>
            <button class="secondary-btn">
                <img src="{{ url_for('static', filename='img/facebook.svg') }}" alt="" class="facebook-sign-up">
                <p>Sign in with Facebook</p>
            </button>
            <button class="secondary-btn">
                <img src="{{ url_for('static', filename='img/company.svg') }}" alt="" class="facebook-sign-up">
                <p>Sign in with Apple</p>
            </button>
        </div>
        <div class="sign-in-form-fields">
            <div class="form-field">
                <input type="text" placeholder="Type your username">
                <label for="username">Username</label>
            </div>
            <div class="form-field">
                <input type="password" placeholder="Type your password">
                <label for="password">Password</label>
                <p><a href="#">Forgot?</a></p>
            </div>
            
            <button class="primary-btn big-login-btn">Log in</button>
           
        </div>
    </div>