<div class="sign-up-container sign-in-container">
    <div class="sign-in-header">
        <h1>Log in</h1>
        <i class="fa fa-times fa-2x" id="close-sign-in"></i>
    </div>
    <form method="post" class="sign-in-form-area" novalidate>
        {{ login_form.hidden_tag() }}
        <div class="sign-in-buttons">
            <button class="secondary-btn">
                <img src="{{ url_for('static', filename='img/brands-and-logotypes.svg') }}" alt="" class="google-sign-up">
                <p>Sign in with Google</p>
            </button>
            <button class="secondary-btn">
                <img src="{{ url_for('static', filename='img/facebook.svg') }}" alt="" class="facebook-sign-up">
                <p>Sign in with Facebook</p>
            </button>
            <button class="secondary-btn">
                <img src="{{ url_for('static', filename='img/company.svg') }}" alt="" class="facebook-sign-up">
                <p>Sign in with Apple</p>
            </button>
        </div>
        <div class="sign-in-form-fields">
            <div class="form-field">
                {{ login_form.username(placeholder="Type your username") }}
                {{ login_form.username.label }}
                
            </div>
            <div class="form-field">
                {{ login_form.password(placeholder="Type Password")}}
                {{ login_form.password.label }}
                
                <p><a href="#">Forgot?</a></p>
            </div>
            
            {{ login_form.submit(class_="primary-btn big-login-btn")}}
            
           
        </div>
    </form>
</div>