<div class="sign-up-container">

    <div class="sign-in-header">
        <h1>Register</h1>
        <i class="fa fa-times fa-2x" id="close-sign-up"></i>
    </div>

    <form action="/register" method="post" class="sign-up-form" id="sign-up-form" novalidate>
        {{ signup_form.hidden_tag() }}

        <div class="form-field">
            {{ signup_form.username.label }}
            {{ signup_form.username(placeholder="Enter Username", id="register-username") }}


            <span class="error-text"></span>

        </div>
        <div class="form-field">
            {{ signup_form.email.label }}
            {{ signup_form.email(id="register-email", placeholder="Enter email") }}

            <span class="error-text"></span>

        </div>
        <div class="form-field">
            {{ signup_form.password.label }}
            {{ signup_form.password(id="register-password", placeholder="Enter Password")}}

            <span class="error-text"></span>

        </div>
        <div class="form-field">
            {{ signup_form.password2.label }}
            {{ signup_form.password2(id="register-password2", placeholder="Repeat Username") }}

            <span class="error-text"></span>

        </div>

        <button type="submit" name="register-user-btn" id="register-user-btn" class="primary-btn register-btn">Sign
            Up</button>
        <button class="primary-btn login-btn">Already have an account? Log in <a href="#"
                id="close-register-open-login">here.</a></button>
    </form>
</div>