<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">

    <title>Concert Builder - {% block title %}{% endblock %}</title>
    {% endblock %}
    
</head>
<body>
    <nav class="landing-nav">
        <h1 class="site-title"> <a href="{{ url_for('index') }}">Concert Builder</a> </h1>
        <div class="right-nav-container" id='right-nav-container'>
            <ul class="nav-left">
                <li class="search" id="search">
                    <a href="">
                        <i class="fas fa-search"></i>
                        <p>Search</p>
                    </a>
                    
                </li>
                <li class="browse">
                    <a href="">
                        <i class="fas fa-book"></i>
                        <p>Browse</p>
                    </a>
                </li>
                <li class="create">
                    <a href="">
                        <i class="fas fa-plus-square"></i>
                        <p>Create</p>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                 <li class="home-mobile-icons">
                    <i class="fas fa-book"></i>
                </li>
                <li class="home-mobile-icons">
                    <i class="fas fa-search"></i>
                </li>
                <li class="logged-in" id="logged-in"> 
                    <img src="{{ url_for('static', filename='img/JohannesBrahms.jpg') }}" alt="">
                </li>
            </ul>
            <ul class="dropdown-menu" id="dropdown-menu">
                <li><a href="#">Your Concerts</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
        
    </nav>
    {% block content %}{% endblock %}

