
    {% extends 'base.html' %}
    {% block content %}
    <div class="main-container">
        <div class="left-container">
            <h1>Pick Piece from Favorites</h1>
            <div class="left-search-area">
                <input type="text" placeholder="Search Favorites" id="search-favorites">
                <i class="fa fa-search"></i>
            </div>
            
            <ul class="builder-piece-list">
                <li>
                    <div class="piece-info-left">
                        <p>Composer Name</p>
                        <p>Piece Title</p>
                    </div>
                    
                    <div class="piece-info-right">
                        <p>20'</p>
                        <button class="primary-btn add-to-concert">
                            Add to Concert
                        </button>
                    </div>
                </li>
                <li>
                    <div class="piece-info-left">
                        <p>Composer Name</p>
                        <p>Piece Title</p>
                    </div>
                    
                    <div class="piece-info-right">
                        <p>20'</p>
                        <button class="primary-btn add-to-concert" >
                            Add to Concert
                        </button>
                    </div>
                </li>
                <li>
                    <div class="piece-info-left">
                        <p>Composer Name</p>
                        <p>Piece Title</p>
                    </div>
                    
                    <div class="piece-info-right">
                        <p>20'</p>
                        <button class="primary-btn add-to-concert">
                            Add to Concert
                        </button>
                    </div>
                </li>
                <li>
                    <div class="piece-info-left">
                        <p>Composer Name</p>
                        <p>Piece Title</p>
                    </div>
                    
                    <div class="piece-info-right">
                        <p>20'</p>
                        <button class="primary-btn add-to-concert">
                            Add to Concert
                        </button>
                    </div>
                </li>
                <li>
                    <div class="piece-info-left">
                        <p>Composer Name</p>
                        <p>Piece Title</p>
                    </div>
                    
                    <div class="piece-info-right">
                        <p>20'</p>
                        <button class="primary-btn add-to-concert">
                            Add to Concert
                        </button>
                    </div>
                </li>
                
            </ul>
        </div>
        <div class="right-container">
            <h1>Build Concert</h1>
            
            <div class="right-search-area" id="right-search-area">
                <input type="text" placeholder="Provide Concert Title" class="concert-title-input" id="concert-title-input">
                <h2 class="concert-title" id="concert-title-header">
                    
                </h2>
                <button class="primary-btn concert-title-btn" id="concert-title-btn">Save Concert Title</button>
                <button class="primary-btn change-title-btn" id="change-title-btn">Change Concert Title</button>
            </div>
            
            <div class="concert-builder-area" id="concert-builder-area">
                
            </div>
            <div class="concert-builder-text-area">
                <p>Your concert is <span id="concert-minutes">80</span> minutes long.</p>
                <p id="concert-conclusion">Thats perfect! </p>
                <button class="primary-btn save-concert">Save Concert</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/concert-builder.js') }}"></script>
</body>
{% endblock %}