{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="left-menu">
            <ul class="left-menu-items">
                <li><a href="">Home</a></li>
                <li><a href="">Browse Composers</a></li>
                <li class="open-profile"><a href="">Profile</a></li>
                <li class="open-favorites"><a href="">Favorites</a></li>
                <li class="open-concerts"><a href="">Concerts</a></li>
                <li><a href="">Upgrade</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Blog</a></li>
                <li>
                    <a href="">
                        <img src="{{ url_for('static', filename='img/facebook.svg') }}" alt="" class="social-image">
                    </a>
                    <a href="">
                        <img src="{{ url_for('static', filename='img/brands-and-logotypes.svg') }}" alt="" class="social-image">
                    </a>
                    <a href="">
                        <img src="{{ url_for('static', filename='img/company.svg') }}" alt="" class="social-image">
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-content-area">
            <!--TODO HIDE THIS STUFF ON SEARCH-->
            <div class="main-content-area-inner" id="main-content-area-inner">
                <div class="header-row">
                    <h1 class="search-result-header">Your Favorites</h1>
                    <a href="" class="view-more-btn">View More <i class="fas fa-angle-right fa-2x"></i></a>
                    
                </div>
                
                <div class="search-results">
                    {% if user.favorites %}
                    {% for i in range(3) %}
                        <div class="search-result">
                            <h2 class="composer-name" id="composer-name">{{user.favorites[i].composer.name }}</h2>
                            <p class="piece-name" id="piece-name">{{ user.favorites[i].title }}</p>
                            <img src="{{ url_for('static', filename='img/JohannesBrahms.jpg') }}" alt="" class="composer-img" id="composer-img">
                            <button class="primary-btn visit-page" id="visit-page">Create Concert</button>
                            <span class="hover-gold "></span>
                        </div>
                    {% endfor %}
                    {% endif %}
                    
                </div>
                <div class="your-recent-concerts">
                    <div class="header-row">
                        <h1 class="search-result-header">Your Concerts</h1>
                        <a href="" class="view-more-btn">View More <i class="fas fa-angle-right fa-2x"></i></a>
                        
                    </div>
                    <div class="search-results">
                        <div class="search-result">
                            <h1 class="composer-name" id="composer-name">Composer Name</h1>
                            <p class="composer-years" id="composer-years">1800-1880</p>
                            <img src="{{ url_for('static', filename='img/JohannesBrahms.jpg') }}" alt="" class="composer-img" id="composer-img">
                            <button class="primary-btn visit-page" id="visit-page">Composer Page</button>
                            <span class="hover-gold"></span>

                        </div>
                        <div class="search-result">
                            <h1 class="composer-name" id="composer-name">Composer Name</h1>
                            <p class="composer-years" id="composer-years">1800-1880</p>
                            <img src="{{ url_for('static', filename='img/JohannesBrahms.jpg') }}" alt="" class="composer-img" id="composer-img">
                            <button class="primary-btn visit-page" id="visit-page">Composer Page</button>
                            <span class="hover-gold"></span>
                        </div>
                        <div class="search-result">
                            <h1 class="composer-name" id="composer-name">Composer Name</h1>
                            <p class="composer-years" id="composer-years">1800-1880</p>
                            <img src="{{ url_for('static', filename='img/JohannesBrahms.jpg') }}" alt="" class="composer-img" id="composer-img">
                            <button class="primary-btn visit-page" id="visit-page">Composer Page</button>
                            <span class="hover-gold"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="audio-player-container">
        <audio src="../../../portfolio/img/fast-energy.mp3"></audio>
    </div>
    {% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
    {% endblock %}
</body>
{% endblock %}