<!DOCTYPE html>
<html>
  <head>
    <title>Repertoire Database</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  
  </head>
<body>
  <h1>Repertoire Database</h1>
  <div class='container'>
    <form id="search-form">
      {{ search_form.csrf_token }}
      <div class="form-group">
        <label id='search-label' for='search'>{{ search_form.search.label }}</label>
        {{ search_form.search(size=32, class_='form-control', id='search-field') }}
        {{ search_form.submit(class_='btn btn-primary')}}
      </div>
    </form>
    <div id='test'></div>
    <ul id='composer-results'>
      
      
    </ul>

  
  </div>
</body>
</html>
