{% extends "base.html" %}

{% block content %}
<body>
  <h1>Welcome to Repertoire Database, {{ current_user.username }}</h1>
  <div class='container'>
    <form id="search-form">
      {{ search_form.csrf_token }}
      <div class="form-group">
        <label id='search-label' for='search'>{{ search_form.search.label }}</label>
        {{ search_form.search(size=32, class_='form-control', id='search-field') }}
        {{ search_form.submit(class_='btn btn-primary')}}
      </div>
    </form>
    <div id='test'></div>
    <ul id='composer-results'>
      
      
    </ul>

  
  </div>

  <script src="{{ url_for('static', filename='js/index-test.js') }}"></script>

{% endblock %}
</body>
</html>
