<!DOCTYPE html>
<html>
  <head>
    <title>Repertoire Database</title>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
<body>
  <h1>Repertoire Database</h1>
  <div class='container'>
    <form id="search-form">
      {{ search_form.csrf_token }}
      <div class="form-group">
        <label id='search-label' for='search'>{{ search_form.search.label }}</label>
        {{ search_form.search(size=32, class_='form-control', id='search-field') }}
        {{ search_form.submit(class_='btn btn-primary')}}
      </div>
    </form>
    <div id='test'></div>
    <ul id='composer-results'>
      
      <li></li>
    </ul>

    {% if composer %}

    
    <div id='composer-img-div'>
      <img id='composer-img' src='{{ matching }}'>
    </div>
    
      <div id='composer-details'>
        {{ composer.name }}<br>
        {{ composer.years }}<br>
        {{ composer.nationality }}<br>
        {{ composer.details }}
      </div>
      {% for piece in composer.pieces %}
        <div class='composer-pieces'>
          <a class='piece-link' href='#'>{{ piece.title }}</a>
        </div>
        {% endfor %}
        {% endif %}

        <div id='piece-results'>
          
        </div>
  </div>
</body>
</html>
