{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}




<div class="hero-container">
    <div class="content-container-left">
        <div class="content-text-container">
            <h1 class="hero-head">Program better concerts</h1>
            <p class="hero-description">A great concert can change the world.</p>
            <button class="primary-btn get-started-btn" id="get-started-btn">Get started</button>
            
        </div>
    </div>
    <div class="image-carousel-container">
        <div class="image-carousel">
            <img src="{{ url_for('static', filename='img/mozart.gif') }}" alt="">
        </div>
        <div class="image-description">
            <h3 class="image-description-text">Concert Builder is for:</h3>
            <p>Conductors who care</p>
        </div>
    </div>
</div>

{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/landing.js') }}"></script>
    {% endblock %}
</body>
{% endblock %}








