{% extends "base.html" %}

{% block content %}

<h1>User: {{ user.username }}</h1>
<p class="no-show" id="no-show">{{user.username}}</p>
<hr>
{% if user.comments %}
{% for comment in user.comments %}
<p>
    {{ comment.author.username }} says: {{ comment.body }}
</p>
{% endfor %}
{% endif %}

{% if user.favorites %}
<h1 id='faves'>User Favorites</h1>
<div class='favorites-list'>
    <ul class="draggable-list" id="draggable-list">

        {% for favorite in user.favorites %}
        <li class='favorite' draggable="true">
            <div class="favorite-info">
                <p class='piece_title'>{{ favorite.title }}</p>
                <p class='piece_composer'>{{ favorite.composer.name}}</p>
                <p class="piece_duration">{{ favorite.duration }}</p>
                <p class="piece_instrumentation">{{ favorite.instrumentation }}</p>
            </div>
            <button class="add-piece">Add Piece to Concert</button>
            <i class="fas fa-grip-lines"></i>
        </li>
        {% endfor %}

    </ul>

</div>
{% endif %}

<div class="concert-builder-container">
    <div class="drop-area" id="drop-area">
        <ul class="concert-list" id="concert-list">
            
        </ul>

    </div>
    <div class="text-area">

    </div>
    
</div>

    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}


